body {
	font-size : 13pt;
	font-family: 'UniqueRegular';
	font-weight: normal;
    font-style: normal; 
	color: green;
	background-color: black;
}

.class2{
     background-color:white;
}

.class3{
	 background-image: url("img/sparkle.gif");
}

.coder{
	border : 1px solid green;
	width: 200px;
	display: inline-block;
	margin-top: 25px;
}
h2 {
	margin-top : 0px;
	font-weight : bold;
}

#status {
	font-family: 'UniqueRegular';
	font-weight: normal;
    font-style: normal; 
    font-size : 25px;
	top : 0px;
	width : 100%;
	height: 100%;
	text-align : center;
	display : block;
	background-color: green;
}

#status div {
	display : inline-block;
	width: 15%;
	padding : 10px 20px;
	color : black;
	background-color: green;
}
#status div+div {
	border-left : none;
}

.section {
	width : 75%;
	border : 1px solid green;
	margin : auto;
	margin-top : 100px;
	text-align : center;
	padding-top: 25px;
	background-color: black;
}

.section#intro {
	display : block;
}
.section button {
	display : block;
	width : 100%;
	color : black;
	text-decoration : none;
	padding : 5px;
	margin-top : 30px;
	background : green;
	border : none;
	cursor : pointer;
}

#saveButton{
	float: right;
	color : black;
	background : green;
	border : none;
	cursor : pointer;
	display: none;
	border: solid 5px black;
}

#saveText{
	float: right;
}


a{
	color: orange;
}

#travail{
	display : block;
	width : 100%;
	color : black;
	text-decoration : none;
	padding : 5px;
	margin-top : 30px;
	background : green;
	border : none;
	cursor : pointer;
}

#joinOrDie, #defi, #defi1, #defiwin, #defi2, #defi3, #defi4, #defilast{
	color: red;
}

/*#defi1contenu{
	width : 75%;
	height: 500px;
	border : 1px solid green;
	margin : auto;
	margin-top: 15px;
	text-align : center;
	padding-top: 25px;
	background-color: black;
}*/

#help, #helpdefi1, #help2, #helpdefi2, #help3, #helpdefi3, #help4, #helpdefi4, #helplast, #helpdefilast{
	background : orange;
	display: block;
	width : 100%;
	color : black;
	text-decoration : none;
	padding : 5px;
	margin-top : 30px;
	border : none;
	cursor : pointer;
}

#indice{
	color:orange;
}


.section button+button  {
	margin-top : 10px;
}

input{
	color : black;
	text-decoration : none;
	padding : 5px;
	margin-top : 30px;
	margin-bottom: 5px;
	background : green;
	border : none;
	cursor : pointer;
}

.section button:hover {
	background-color : lightGreen;
}

.battle {
	padding : 10px 10px;
	margin : 20px 0px;
	box-shadow : 0px 2px 8px gray;
}

.life{
	width: 25px;
	height: 25px;

}

.kit{
	width: 25px;
	height: 25px;
}

.desk{	
	width: 25px;
	height: 25px;
}

.save{	
	
	width: 25px;
	height: 25px;
}

#loose{
	background-color: green;
	color: black;
	width: 25px;
}

#clock {
   text-align: center;
   font-size: 25px;
	font-family: 'UniqueRegular';
	font-weight: normal;
    font-style: normal; 
   	width: 15%;
	height: 15%;

}


        /* code for animated blinking cursor */
        .typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }

        p{
	line-height: 2em;
	margin:0 0 20px;
	text-align: center;
}

.wrap{
	max-width: 600px;
	margin:150px auto;
}

.type-wrap{
	margin:10px auto;
	padding:20px;
	background:#f0f0f0;
	border-radius:5px;
	border:#CCC 1px solid;
}



#dead{
	margin-top: 20px;
	border: solid 2px green;
	width: 250px;
}
